* public - The code is accessible for all classes also outside of the package. Accessed from anywhere
* private - The code is only accessible within the declared class
* default - The code is only accessible in the same package. This is used when you don't specify a modifier.
* protected	- The code is accessible in the same package and subclasses. Also outside the package but in subclasses.